@import "./variable.scss";
@import "./media.scss";

@font-face {
  font-family: "DEADLY";
  src: url("./font/DEADLY\ KILLERS.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Barlow", system-ui;
  src: url("./font/Demo_Fonts/Fontspring-DEMO-rocgrotesk-medium.otf");
  font-style: normal;
  font-weight: normal;
}

#abouttwo {
  padding: 120px 15px 150px;
  background: black;
  position: relative;
  z-index: 3;
  > .container {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100%; */
    gap: 1rem;
    /* padding-bottom: 30px; */
    > .heading {
      width: 100%;
      margin: 0 auto;
      padding: 20px 0px 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      > h1 {
        line-height: 100%;
        font-weight: 100;
        width: 90%;
        line-height: 118%;
        text-transform: capitalize;
        text-align: center;
        font-size: clamp(2.6rem, 8vw, 70px);
        color: #fff;
        font-family: fangsong;
        font-family: "Letric";
        text-shadow: 2px 2px #0a0807;
        margin-bottom: 100px;
        /* margin-top: -30px; */
        /* margin: 0 auto 70px; */
        line-height: 1.4;
        @include md {
          width: 100%;
        }
        > span {
          /* font-family: "Montserrat", sans-serif !important; */
          font-weight: 700;
        }
      }
    }
    .heading__two {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 6;
      color: white;
      position: relative;
      h1 {
        line-height: 100%;
        font-weight: 100;
        line-height: 118%;
        text-transform: uppercase;
        text-align: center;
        font-size: clamp(2.2rem, 7vw, 3.2rem);
        color: #fff;
        font-family: "Letric";
        text-shadow: 2px 2px #0a0807;
        padding: 0px 15px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        z-index: 111;
        color: white;
        position: relative;
        padding: 10px 20px;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px 20px;
          opacity: 0.5;
          font-size: 1.5rem;

          span {
            font-family: "Letric";
            font-weight: 100;
            i {
              font-weight: 300;
            }
          }
        }
        li:nth-child(1) {
          border-bottom: 1px solid #e64e44;
          span {
            color: #e64e44;
          }
        }
        li:nth-child(2) {
          border-bottom: 1px solid #2421e1;
          span {
            color: #2421e1;
          }
        }
        li:nth-child(4) {
          border-bottom: 1px solid #b41717;
          span {
            color: #b41717;
          }
        }
        li:nth-child(3) {
          border-bottom: 1px solid #58da6a;
          span {
            color: #58da6a;
          }
        }

        li.active {
          opacity: 1;
          span {
          }
        }
      }
      .para {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          padding: 20px 15px;
          text-align: center;
          z-index: 111;
          position: relative;
          color: white;
          max-width: 550px;
          line-height: 1.5;
          font-size: 18px;
        }
      }
    }
  }
}
